<body style="height: 100% !important; width: 100% !important; margin: 0; padding: 0;">
    <div class="container" style="width: 700px; font-family: Helvetica, sans-serif; font-size: 1.2em; color: {{font-color}}; margin: 0 auto;">
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bg-color="{{main-bg}}" id="table-container"
            style="height: 100% !important; width: 100% !important; border-collapse: collapse; background: {{main-bg}}; margin: 0; padding: 0; border: {{main-border-size}}px solid {{main-border-color}};">
            <tr>
                <td align="center" valign="top" id="cell-container" style="height: 100% !important; width: 100% !important; margin: 0; padding: 0; font-family: "
                    Helvetica Neue ", Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 24px;">
                    <!-- // BEGIN EMAIL -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="main-container" style="border-collapse: collapse;">
                        <tr>
                            <td align="center" valign="top" id="hero-section" style="padding: 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse: collapse;">
                                    <tr>
                                        <td align="center" valign="top">
                                            <h1 style="color: {{heading-color}}; font-weight: 300; font-size: 2em; margin: 0; padding: 0;">[store_name]</h1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <img src="{{logo-urls}}" alt="" width="" height="" style="display: block; outline: none; text-decoration: none; margin: 20px 0; border: 0; max-width: 200px; max-height: 200px;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top">
                                            <h1 style="color: {{heading-color}}; font-weight: 300; font-size: 2em; margin: 0; padding: 0;">Hi! [firstname]</h1>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- hero-section -->
                        <tr>
                            <td align="center" valign="top" id="cta-container" style="background:{{cta-bg}}; padding: 20px;">

                                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" align="center" style="border-collapse: collapse;">
                                    <tr>
                                        <td valign="top" align="center">
                                            <p style="line-height: 1.8; text-align: center; margin: 20px 0; padding: 0;" align="center">We're emailing today to let you know that a product has been updated on one of your subscription orders. We do our best to keep products the same for as long as we can but unfortunately things just change over time and sometimes there's no way to avoid it.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="center">
                                            <p style="line-height: 1.8; text-align: center; margin: 20px 0; padding: 0;" align="center">The product(s) that has been updated is listed below and we did our best to find the best suitable substitute for what you had:</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="custom-table-change">
                                            [products_changed]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" align="center">
                                            <p style="line-height: 1.8; text-align: center; margin: 20px 0; padding: 0;" align="center">The next time the order ships it will be with this new product. Hopefully that's ok, but we understand that you may need to adjust the quantity or remove the product from the order. If you do, you can manage that in the subscription management section of our website.</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- cta-container -->
                        <tr>
                            <td align="center" valign="top" id="footer-container" style="border-top: 2px solid {{footer-border-color}}; color: {{footer-color}}; font-size: 1em; background: {{footer-bg}}; padding: 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse: collapse;">
                                    <tr>
                                        <td align="center" valign="top">
                                            <h2 style="font-weight: 300; font-size: 1.5em; margin: 0; padding: 0;">Questions?</h2>
                                            <p style=" margin: 20px 0; padding: 0;">
                                                If you have any questions, please don't hesitate to get in touch.
                                            </p>
                                            <p style="margin: 20px 0; padding: 0;">
                                                <a href="#" style="background: {{footer-button-bg-color}}; text-decoration: none; font-size: 1.2em; font-weight: 400; display: inline-block; color: {{footer-button-color}}; border-radius: {{border-radius}}px; text-align: center; padding: 15px 20px; border: 2px solid {{footer-button-border}}; font-family:sans-serif; -webkit-text-size-adjust:none;">support@example.com</a>
                                            </p>
                                            <p style="margin: 20px 0; padding: 0;">[store_name] Team</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!-- footer-container -->
                    </table>
                    <!-- END EMAIL // -->
                </td>
            </tr>
        </table>
    </div>
</body>